@font-face {
  font-family: 'Borel';
  src: url('../fonts/Borel/Borel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
}